.sectionForm {
  position: relative;
  height: 100vh;
  &__content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
  }
  &__btn {
    width: 100%;
    background-color: $green-dark !important;
    border: none !important;
    @media screen and (min-width: 600px) {
      width: 20%;
    }
  }
}
.d-inline {
  display: inline;
}

.bg-green {
  background-color: $green;
}
