.header {
  &__navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    opacity: 1;
    z-index: 999;
    background-color: $green-light;
  }
  &__nav-collapse {
    opacity: 1;
    margin-top: 8px auto;
    &__item {
      display: block;
      width: 100%;
      font-size: 1rem;
      text-align: center;
      font-weight: 700;
      border: 1px solid $green-dark;
      margin: 8px auto;
      border-radius: 5px;
    }
  }
  &__logo {
    color: $green-dark !important;
    font-size: 1rem !important;
    font-weight: 700 !important;
    border: 3px solid $green-dark;
    padding: 10px 15px !important;
    margin: 0 !important;
    border-radius: 10px;
  }
}
