@import url("https://fonts.googleapis.com/css?family=Oswald|Poppins&display=swap");
@import "./var.scss";
* {
  box-sizing: border-box;
}
body,
html {
  height: 100%;
  width: 100%;
}
div {
  display: block;
  height: 100%;
}
.no-fill {
  height: auto;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Oswald", sans-serif;
}
p,
a {
  font-family: "Poppins", sans-serif;
}
p {
  color: $charcoal;
}
@import "./component/header/Header.scss";
@import "./component/LargeHero/LargeHero.scss";
@import "./component/card/Card.scss";
@import "./component/sectionForm/SectionForm.scss";
@import "./component/Success/Success.scss";
